[submodule "keycastr/Externals/ShortcutRecorder"]
	path = keycastr/Externals/ShortcutRecorder
	url = https://github.com/Kentzo/ShortcutRecorder.git
[submodule "keycastr/Externals/Sparkle"]
	path = keycastr/Externals/Sparkle
	url = https://github.com/sparkle-project/Sparkle.git
